.header {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 100vw;
    height: 10vh;
}

.datos {
    position: absolute;
    top: 10vh;
    left: 0px;
    width: 100vw;
    height: 90vh;
}

.logo{
    height: 25px;
}

.lupa{
    height: 21px;
    padding: 5px;
}

.log{
    border: 2px solid rgb(53, 204, 141);
    border-radius: 50px;
    padding: 4px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    top: -7px;
}

.nos:hover::after {
    content: '';
    height: 0;
    width: 100%;
    background-color: aqua;
    position: absolute;
    bottom: 0;
    left: 0;
}