.header {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 100vw;
    height: 10vh;
}
