
.header {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #090909;
    width: 100vw;
    height: 10vh;
    position: fixed;  
}

.datos {
    position: relative;
    top: 7vh;
    left: -2vh;
    width: 100vw;
    height: 90vh;
    color: white;
    background-color:black;
}

.logo{
    height: 25px;
}

.lupa{
    height: 21px;
    padding: 5px;
    padding-right: 30px;
    padding-left: 0.1px;
    
}

.log{
    border: 2px solid rgb(53, 204, 141);
    border-radius: 50px;
    padding: 4px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    top: -7px;
    font-size: 15px;
    font-weight: 500;
}

.log:hover{
    color: rgb(53, 204, 141);
   /* background-color: rgb(53, 204, 141);
    color: white;
    transition: all 0.2s;*/
}


.nos:hover{
    color: white;
    transition: all 0.2s;
}


.cont:hover {
    color: white;
    transition: all 0.2s;
}


.sub:hover {
    color: white;
    transition: all 0.2s;
}

.lupa:hover{
    color: white;
}


.resu{ 
    text-align: center;
    text-decoration:overline red;
    
}

.izquierda{
    padding-left: 100px;
    padding-top: 30px;

}

.cardRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 20px;
    width: 30vw;
    height: 12vh;
    border-radius: 15px;
    background-color: dark;
    border: 5px solid rgb(53, 204, 141);
    border-top: 50px solid rgb(53, 204, 141);
}

.tituloRegistro {
    background-color: transparent;
    position: absolute;
    top: 95px;
    text-align: center;
    font-size: 25px;
}

.textoRegistro {
    font-weight: 800;
    font-size: 30px;
    background-color: transparent;
    position: relative;
    left: -10vh;

}

.soleado {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: relative;
    left: 10vh;
}

.cardGps {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 20px;
    width: 30vw;
    height: 12vh;
    border-radius: 15px;
    background-color: dark;
    border: 5px solid rgb(53, 204, 141);
    border-top: 50px solid rgb(53, 204, 141);
}

.tituloGps {
    background-color: transparent;
    position: absolute;
    top: 300px;
    text-align: center;
    font-size: 25px;
}

.textoGps {
    font-weight: 800;
    font-size: 30px;
    background-color: transparent;
    position: relative;
    left: -10vh;
}

.gps {
    width: 80px;
    height: 80px;
    background-color: transparent;
    position: relative;
    left: 10vh;
}

.list {
    list-style-type: none;
}

.item {
    margin: 30px;
}



















